body {
    max-width: 1128px;
    margin: 100px auto;
}

li {
    width: 360px;
    height: 300px;
}


img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}